{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": false,
    "printWidth": 140,
    "useTabs": false,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "lf"
}