.App {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #1d1f21;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.TerminalContainer {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #1d1f21;
    color: #c5c8c6;
    overflow: hidden;
    text-align: left;
}

::-webkit-scrollbar {
    width: 0px;
}
